* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Login {
  position: relative;
  top: 50%;
  left: 40%;
}

.Header {
  position: relative;
}

.Tab {
  position: relative;
}

.Footer {
  align-items: center;
  position: relative;
  transform: translatY(-100%);
}

.ul {
  padding-left: 22px;
  font-size: 0.8475em;
}
